<div class="row-fluid">
  <div class="span12">
    <div id="search"></div>
  </div>
</div>
<div id="filters"></div>
<div class="row-fluid">
  <div class="span9">
    <div class="row-fluid">
      <div class="span12">
          <div id="results-header" class="row-fluid"></div>
      </div>
    </div>
    <div id="results" class="row-fluid"/>
    <div id="pagination" class="row-fluid"></div>
  </div>
  <div id="facets" class="span3"></div>
</div>
<hr/>
<footer>
  <p class="muted credit">
    <a href="https://github.com/cfitz/blackbone">Blackbone</a>. Using the Solrita.js client library by <a href="https://github.com/jbarroso">Jose Angel Barroso</a></p>
</footer>
